
<div class="conatiner">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 mt-5">
            
            <form (ngSubmit)="login()">
                <h3 style="font-weight:bold;text-align:center">Login</h3>
                
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email">
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">Passwprd</label>
                    <input type="password" class="form-control" id="pwd" name="pwd" [(ngModel)]="pwd">
                  </div>
                 
               <div style="margin-left: 43%;">
                <button type="submit" class="btn btn-primary">Login</button>
                &nbsp;  </div>
                <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a routerLink="registration"
                    class="link-danger">Register</a></p>
                
              </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
